.feedback {
    padding: 60px 0;
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 50px;
    }
    &__container {
        padding: 60px 30px;
        background-color: $colorBlueDark;
        border-radius: 20px;
    }
    &__form {
        @include flexAScenter;
        gap: 20px;
        margin-bottom: 30px;
        &-input {
            padding: 10px 20px;
            border-radius: 10px;
            display: block;
            width: 30%;
            height: 50px;
            @include roboto-bold;
            font-size: 16px;
            color: $colorBlack;
        }
        &-btn {
            width: 30%;
            height: 50px;
        }
    }
    &__warning {
        @include TenorSans;
        font-size: 15px;
        color: $colorWhite;
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
        & > a {
            @include TenorSans;
            font-size: 12px;
            color: $colorBlue;
        }
    }
}