@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

button {
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

.body__container {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 50px;
  color: #0061ae;
}

.subtitle {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 30px;
  color: #020202;
}

.descr {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 18px;
  color: #5c5c5c;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 20px;
  background-color: #0061ae;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  color: #fff;
}
.btn:hover {
  background-color: #004280;
}

.header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.header__logo {
  display: block;
  width: 200px;
  height: auto;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 60px;
}
.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.header__nav > ul > li {
  position: relative;
}
.header__nav > ul > li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #0061ae;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav > ul > li:hover::before {
  width: 100%;
}
.header__nav > ul > li > a {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 20px;
  color: #020202;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 50px;
}
.header__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.header__item {
  display: block;
  width: 30px;
  height: 30px;
}
.header__item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__cart {
  position: relative;
}
.header__cart > span {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 16px;
  height: 16px;
  background-color: #0061ae;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 12px;
  color: #fff;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 30;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.modal__content {
  min-height: 500px;
  max-height: 800px;
}
.modal__head {
  margin-bottom: 80px;
}
.modal__title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.modal__close {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 0;
  right: 0;
}
.modal__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background-color: #020202;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background-color: #020202;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__input {
  display: block;
  border: 2px solid #0061ae;
  padding: 5px 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
}
.modal__btn {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.modal__show {
  visibility: visible;
  opacity: 1;
}
.modal__show .modal__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main {
  padding: 260px 0 0 0;
  background-image: url("../img/main/main-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 98vh;
  margin-top: 30px;
  position: relative;
}
.main__title {
  text-align: left;
  width: 100%;
  max-width: 1200px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.main__subtitle {
  color: #fff;
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
}
.main__btn {
  padding: 10px 40px;
  width: 100%;
  max-width: 300px;
  height: 50px;
}

.about {
  padding: 60px 0;
}
.about__title {
  margin-bottom: 50px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #f4f4f6;
  border-radius: 20px;
  padding: 30px;
}
.about__information {
  width: 100%;
  max-width: 600px;
}
.about__information-paragraph {
  margin-bottom: 30px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 20px;
  color: #020202;
}
.about__img {
  width: 600px;
  height: 760px;
}

.products {
  padding: 60px 0;
}
.products__title {
  margin-bottom: 30px;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.products__item {
  padding: 30px;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 15px #020202;
          box-shadow: 10px 10px 15px #020202;
  position: relative;
  height: 600px;
}
.products__item-img {
  display: block;
  width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  margin-bottom: 40px;
}
.products__item-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
  color: #020202;
  margin-bottom: 20px;
}
.products__item-descr {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 16px;
  color: #5c5c5c;
  margin-bottom: 20px;
}
.products__item-bottom {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.products__item-price {
  position: absolute;
  left: 30px;
  bottom: 80px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 30px;
  color: #020202;
}
.products__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}
.products__quantity-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b1b1b1;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
  color: #020202;
}
.products__quantity-coll {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b1b1b1;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
  color: #020202;
}

.FAQ {
  padding: 60px 0;
  background-image: url("../img/FAQ-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  min-height: 700px;
  max-height: 1400px;
}
.FAQ__title {
  margin-bottom: 30px;
  color: #fff;
}
.FAQ__subtitle {
  margin-bottom: 30px;
  color: #fff;
}
.FAQ__wrapper {
  width: 100%;
  overflow: hidden;
}
.FAQ__item {
  width: 100%;
  max-width: 900px;
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}
.FAQ__item-box {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}
.FAQ__item-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
  color: #fff;
}
.FAQ__item-img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.FAQ__item-descr {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 16px;
  color: #fff;
  display: none;
  border-bottom: 1px solid #b1b1b1;
  padding: 30px 0;
}
.FAQ__show .FAQ__item-descr {
  display: block;
}
.FAQ__show .FAQ__item-img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.feedback {
  padding: 60px 0;
}
.feedback__title {
  margin-bottom: 30px;
}
.feedback__subtitle {
  margin-bottom: 50px;
}
.feedback__container {
  padding: 60px 30px;
  background-color: #121e3e;
  border-radius: 20px;
}
.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.feedback__form-input {
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  width: 30%;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 16px;
  color: #020202;
}
.feedback__form-btn {
  width: 30%;
  height: 50px;
}
.feedback__warning {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 15px;
  color: #fff;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
.feedback__warning > a {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 12px;
  color: #0061ae;
}

.peptidesuitability {
  padding: 60px 0;
}
.peptidesuitability__title {
  margin-bottom: 30px;
}
.peptidesuitability__subtitle {
  margin-bottom: 50px;
}
.peptidesuitability__item {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  position: relative;
  margin: 0 auto;
}
.peptidesuitability__item-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.peptidesuitability__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.peptidesuitability__item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 120%;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
  width: 100%;
  max-width: 600px;
}

.footer {
  padding: 60px 0;
  background-color: #121e3e;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.footer__logo {
  display: block;
  width: 200px;
  height: auto;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
.footer__nav > ul > li {
  position: relative;
}
.footer__nav > ul > li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__nav > ul > li > a {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.footer__nav > ul > li:hover::before {
  width: 100%;
}
.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.footer__images-img {
  display: block;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__warning, .footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */