@media (max-width: 1600px) {
    .container {
        max-width: 1480px;
    }
}
@media (max-width: 1480px) {
    .container {
        max-width: 1280px;
    }
    .header {
        &__nav {
            & > ul {
                & > li {
                    & > a {
                        font-size: 14px;
                    }
                }   
            }
        }
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
    .header {
        &__logo {
            width: 130px;
        }
        &__btn {
            padding: 10px;
            font-size: 14px;
        }
        &__left {
            gap: 20px;
        }
        &__right {
            gap: 20px;
        }
    }
    .about {
        &__information {
            &-paragraph {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        
    }
    .footer {
        &__logo {
            width: 130px;
        }
        &__nav {
            & > ul > li > a {
                font-size: 14px;
            }
        }
        &__images {
            &-img {
                width: 80px;
                height: 80px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 993px;
    }
    .header {
        padding: 15px 0;
        &__nav {
            display: none;
        }
        &__btn {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .main {
        padding: 150px 0;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 22px;
    }
    .about {
        &__hide {
            display: none;
        }
        &__next {
            display: block;
        }
        &__img {
            width: 390px;
            height: 420px;
        }
    }
    .products {
        &__item {
            padding: 15px;
            height: 535px;
            &-img {
                width: 100px;
            }
        }
    }
    .peptidesuitability {
        &__item {
            max-width: 800px;
            height: 540px;
        }
    }
}
@media (max-width:993px) {
    .container {
        max-width: 768px;
    }
    .products {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
        &__item {
            &-price {
                bottom: 135px;
            }
            &-bottom {
                flex-direction: column;
                align-items: start;
            } 
        }
    }
    .feedback {
        &__form {
            flex-direction: column;
            &-input {
                width: 100%;
            }
            &-btn {
                width: 100%;
            }
        }
        &__warning {
            max-width: 100%;
        }
    }
}
@media (max-width:768px) {
    .title {
        font-size: 25px;
    }
    .subtitle {
        font-size: 20px;
    }
    .about {
        &__img {
            width: 260px;
            height: 300px;
        }
    }
    .products {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        &__item {
            &-img {
                width: 80px;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    } 
    .peptidesuitability {
        &__item {
            height: 485px;
        }
    }
}
@media (max-width: 565px) {
    .about {
        &__wrapper {
            padding: 10px;
            flex-direction: column;
            gap: 30px;
        }
        &__information {
            order: 2;
        }
        &__img {
            width: 100%;
            height: auto;
            order: 1;
        }
    }
    .products {
        &__item {
            &-img {
                width: 100px;
            }
            &-title {
                font-size: 16px;
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
    .peptidesuitability {
        &__item {
            height: 355px;
            &-title {
                 font-size: 20px;
                 max-width: 320px;
            }
           
        }
    }
    .footer {
        &__wrapper {
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        &__images {
            @include flexStart;
            gap: 10px;
            margin-bottom: 30px;
        }
        &__warning {
            margin-bottom: 20px;
        }
        &__copy {
             @include flexStart;
        }
    }
}
@media (max-width: 450px) {
    .container {
        padding: 0 10px;
    }
    .main {
        &__title {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__btn {
            width: 100%;
            max-width: 100%;
        }
    }
    .FAQ {
        &__item {
            padding: 10px 0;
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 14px;
                padding: 10px 0;
            }
        }
    }
    .peptidesuitability {
        padding: 30px 0;
        &__item {
            height: 300px;
        }
    }
    .feedback {
        padding: 10px 0 30px 0;
    }
}
@media (max-width: 360px) {
    .peptidesuitability {
        &__item {
            height: 220px;
        }
    }
}